NEXT_PUBLIC_CONVEX_URL="https://your-convex-deployment.convex.cloud"
CONVEX_URL="https://your-convex-deployment.convex.cloud"
RESEND_API_KEY=re_e6jZSWkE_LdL5GBVSyRjk2SbmpHRF5GNA
NEXT_PUBLIC_APP_URL="http://localhost:3000"
